@font-face {
  font-family: 'Pixel';
  src: url('../font/Pixel.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

[wm-flappy] {
  background: rgba(0, 191, 255, 0.9);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.points {
  font-family: 'Pixel', sans-serif;
  font-size: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: #fff;
}

.bird {
  position: absolute;
  left: calc(50% - 30px);
  width: 40px;
  height: auto;
}

.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 110px;
  background: linear-gradient(90deg, #639301, #A5E82E);
  border: 2px solid #000;
}

.barreira .corpo {
  height: 140px;
  width: 90px;
  background: linear-gradient(90deg, #639301, #A5E82E);
  border-right: 2px solid #010;
  border-left: 2px solid #010;
}

.restart {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
